html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Montserrat;
  font-weight: 400;
  color: #fff;
  background: #1D3C36;
}

input, button {
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

::selection {
  color: $dark-green;
  background: #fff;
}

.hidden {
  display: none !important;
}