@media (min-width: 340px) {
  .ornare {
    &__content-title {
      font-size: 35px;
    }
    // &__item {
    //   height: 568px;
    // }
  }
}
@media (min-width: 354px) {
  .ornare {
    &__item {
      height: 568px;
    }
  }
}
@media (min-width: 370px) {
  .home {
    &__title {
      font-size: 57px;
    }
    &__description {
      font-size: 17px;
    }
  }
}
@media (min-width: 682px) {
  .home {
    &__title {
      margin-bottom: 6.4vh;
    }
  }
}
@media (min-width: 730px) {
  .home {
    &__title {
      font-size: 63px;
    }
    &__description {
      font-size: 18px;
    }
  }
}
@media (min-width: 760px) {
  .ornare {
    padding-bottom: 100px;
    &__item {
      height: auto;
      margin-top: 100px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      transform: translateX(calc(47vw - 50%));
      align-items: center;
      flex-direction: row-reverse;
      width: 73vw;

      &--reversed {
        flex-direction: row;
      }
    }
    &__wrapper--reversed &__content {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &__content {
      position: static;
      transform: none;

      &-title {
        font-size: 32px;
        width: 330px;
        max-width: 32vw;
      }
      &-description {
        font-size: 14px;
        margin: 33.6px 0 45.5px;
        max-width: 29vw;
      }
    }
    &__illustration {
      transform: none;
      height: 370.3px;
      width: 254.8px;
    }
  }
}
@media (min-width: 1000px) {
  .home {
    &__social-link {
      width: 50px;
      height: 50px;
    }
    &__inscriptions {
      left: 36vw;
    }
    &__title {
      font-size: 71px;
    }
    &__description {
      font-size: 19px;
    }
  }
  .ornare {
    &__illustration {
      width: 291px;
      height: 423.2px;
    }
    &__content-title {
      max-width: 28vw;
    }
    &__wrapper {
      width: 67.5vw;
    }
  }
  .content-btn {
    &__wrapper {
      width: 158px;
      height: 68px;
    }
  }
}
@media (min-width: 1200px) {
  .home {
    &__title {
      font-size: 81px;
    }
    &__description {
      font-size: 20px;
    }
  }
  .ornare {
    &__wrapper {
      width: 67.5vw;
    }
    &__content {
      &-title {
        font-size: 40px;
      }
      &-description {
        font-size: 16px;
      }
    }
    &__illustration {
      width: 327.6px;
      height: 476.1px;
    }
  }
  .content-btn {
    &__wrapper {
      width: 164px;
      height: 76px;
    }
    &__value {
      font-size: 30px;
    }
  }
}
@media (min-width: 1300px) {
  .ornare {
    &__illustration {
      height: 529px;
      width: 364px;
    }
    &__content {
      &-title {
        font-size: 45px;
        width: 400px;
      }
      &-description {
        font-size: 18px;
        margin: 48px 0 65px;
      }
    }
  }
}
@media (min-width: 1400px) {
  .home {
    &__title {
      font-size: 90px;
    }
  }
}
@media (min-height: 630px) {
  .nav {
    &__item {
      margin: 1vh;
    }
  }
}
@media (min-height: 750px) {
  .home {
    &__inscriptions {
      top: 55vh;
    }
  }
}
@media (min-height: 1100px) {
  .home {
    &__title {
      font-size: 90px;
    }
    &__inscriptions {
      left: 40vw;
    }
  }
}
@media (orientation: landscape) {
  .home {
    background-image: url('../images/home/background_horizontal.jpg');
  }

  @media (min-width: $inline-menu-start-width) {
    .nav-btn {
      display: none;
    }
    
    .nav {
      &__links-list {
        opacity: 1;
        background: none;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        max-width: 551px;
        width: 50%;
        right: $viewport-horisontal-margin;
        top: $viewport-vertical-margin;
        left: auto;
      }
      &__item {
        transform: translateX(0px) !important;

        &-link-btn {
          font-size: 19px;
          font-weight: 400;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}