@media (min-width: 340px) {
  .ornare {
    &__content-title {
      font-size: 35px;
    }
  }

  .pharetra {
    &__content-title {
      font-size: 30px;
    }
  }
}
@media (min-width: 354px) {
  .ornare {
    &__item {
      height: 568px;
    }
  }
}
@media (min-width: 370px) {
  .home {
    &__title {
      font-size: 57px;
    }
    &__description {
      font-size: 17px;
    }
  }
  .footer {
    &__buttons-container {
      width: 320px;
    }
    .content-btn {
      &__wrapper {
        width: 140px;
      }
      &__value {
        font-size: 21px;
      }
    }
    &__signature {
      right: calc((100vw - 320px) / 2);
    }
  }
  .laoreet {
    &__item {
      max-width: 70vw;
    }
  }
}
@media (min-width: 400px) {
  .footer {
    &__buttons-container {
      width: 330px;
      min-width: 50vw;
    }
    .content-btn {
      &__wrapper {
        width: 147px;
      }
    }
    &__signature {
      right: calc((100vw - 330px) / 2);
    }
  }
}
@media (min-width: 460px) {
  .pharetra {
    &__content-item {
      max-width: 425px;
    }
  }
  .laoreet {
    &__item {
      max-width: 350px;
    }
  }
}
@media (min-width: 682px) {
  .home {
    &__title {
      margin-bottom: 6.4vh;
    }
  }
  .footer {
    &__signature {
      left: 3.1vw;
      bottom: 51px;
      top: auto;
      right: auto;
    }
    &__buttons-container {
      top: auto;
      right: 3.1vw;
      bottom: 51px;
      left: auto;
      min-width: auto;
      transform: none;
    }
  }
}
@media (min-width: 713px) {
  .pharetra {
    &__content {
      &-title {
        font-size: 32px;
        max-width: 333px;
      }
      &-item {
        &-1 {
          transform: translateX(-7vw);
        }
        &-2 {
          transform: translateX(7vw);
          text-align: right;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
      &--disabled &-item {
        &-2 {
          .pharetra__content-title {
            opacity: 0;
            transform: translateX(100px);
          }
          .pharetra__content-description {
            opacity: 0;
            transform: translateX(100px);
          }
        }
      }
    }
  }
  .laoreet {
    &__item {
      &-1, &-3 {
        transform: translateX(-8vw);
      }
      &-2 {
        transform: translateX(8vw);
      }
    }
  }
}
@media (min-width: 730px) {
  .home {
    &__title {
      font-size: 63px;
    }
    &__description {
      font-size: 18px;
    }
  }

  .pharetra {
    &__submit-btn {
      margin-left: 48px;
    }
    &__form {
      &-input {
        height: 47px;
      }
      &-input-container {
        margin: 0;
      }
      &-wrapper {
        margin-top: 31px;
        flex-direction: row;
      }
      &-message-container--active {
        margin: 10px 0 0;
      }
    }
  }
}
@media (min-width: 760px) {
  .ornare {
    padding-bottom: 100px;

    &__item {
      height: auto;
      margin-top: 100px;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      transform: translateX(calc(49vw - 50%));
      align-items: center;
      flex-direction: row-reverse;
      width: 73vw;

      &--reversed {
        flex-direction: row;
      }
    }
    &__wrapper--reversed &__content {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &__content {
      position: static;
      transform: none;

      &-title {
        font-size: 32px;
        width: 330px;
        max-width: 32vw;
      }
      &-description {
        font-size: 14px;
        margin: 33.6px 0 45.5px;
        max-width: 29vw;
      }
    }
    &__illustration {
      transform: none;
      height: 370.3px;
      width: 254.8px;
    }
    &__item--disabled .ornare__wrapper--reversed .ornare__content-title,
    &__item--disabled .ornare__wrapper--reversed .ornare__content-description {
      transform: translateX(100px);
    }
  }
}
@media (min-width: 980px) {
  .pharetra {
    &__content {
      display: block;
      height: 87vh;

      &-title {
        font-size: 37px;
        max-width: 483px;
        min-width: 400px;
      }
      &-description {
        font-size: 18px;
        max-width: 370px;
        margin-top: 33px;
      }
      &-item {
        position: absolute;
        transform: translate(-50%, -50%);
        margin: 0;

        &-1 {
          top: 38%;
          left: 29%;
        }
        &-2 {
          top: 62%;
          left: 68%;
        }
      }
    }
  }
  
  .laoreet {
    &__item {
      &-description {
        font-size: 18px;
      }
    }
  }

  @media (orientation: landscape) {
    .pharetra__content-item {
      &-1 {
        top: 42%;
      }
      &-2 {
        top: 61%;
      }
    }
  }
}
@media (min-width: 1000px) {
  .home {
    &__social-link {
      width: 50px;
      height: 50px;
    }
    &__inscriptions {
      left: 36vw;
    }
    &__title {
      font-size: 71px;
    }
    &__description {
      font-size: 19px;
    }
  }
  .ornare {
    &__illustration {
      width: 291px;
      height: 423.2px;
    }
    &__content-title {
      max-width: 28vw;
    }
    &__wrapper {
      width: 67.5vw;
    }
  }
  .content-btn {
    &__wrapper {
      width: 158px;
      height: 68px;
    }
  }
}
@media (min-width: 1200px) {
  .home {
    &__title {
      font-size: 81px;
    }
    &__description {
      font-size: 20px;
    }
  }
  .ornare {
    &__wrapper {
      width: 67.5vw;
    }
    &__content {
      &-title {
        font-size: 40px;
      }
      &-description {
        font-size: 16px;
      }
    }
    &__illustration {
      width: 327.6px;
      height: 476.1px;
    }
  }
  .content-btn {
    &__wrapper {
      width: 164px;
      height: 76px;
    }
    &__value {
      font-size: 30px;
    }
  }
  .pharetra {
    &__content {
      &-title {
        font-size: 40px;
      }
      &-description {
        margin-top: 37px;
        font-size: 19px;
      }
    }
  }
  .footer {
    &__buttons-container {
      width: 380px;
    }
    .content-btn {
      &__wrapper {
        width: 164px;
      }
      &__value {
        font-size: 25px;
      }
    }
    &__signature {
      font-size: 20px;
    }
  }
}
@media (min-width: 1300px) {
  .ornare {
    &__illustration {
      height: 529px;
      width: 364px;
    }
    &__content {
      &-title {
        font-size: 45px;
        width: 400px;
      }
      &-description {
        font-size: 18px;
        margin: 48px 0 65px;
      }
    }
  }
}
@media (min-width: 1400px) {
  .home {
    &__title {
      font-size: 90px;
    }
  }
  .pharetra {
    &__content {
      &-title {
        font-size: 42px;
      }
      &-description {
        margin-top: 42px;
      }
    }
  }
}
@media (min-height: 630px) {
  .nav {
    &__item {
      margin: 1vh;
    }
  }

  .laoreet {
    height: 90vh;
  }
}
@media (min-height: 670px) {
  .laoreet {
    box-sizing: border-box;

    &__item {
      &-title {
        font-size: 29px;
      }
    }
  }
}
@media (min-height: 750px) {
  .home {
    &__inscriptions {
      top: 55vh;
    }
  }
}
@media (min-height: 900px) {
  .laoreet {
    &__item {
      max-width: 40vw;
    }
  }
}
@media (min-height: 1000px) {
  .nav {
    &__item-link-btn {
      font-size: 63px;
    }
    &__item {
      margin: 2vh 0;
    }
  }
  .pharetra {
    &__content {
      height: 92vh;
    }
  }
}
@media (min-height: 1100px) {
  .home {
    &__title {
      font-size: 90px;
    }
    &__inscriptions {
      left: 40vw;
    }
  }
  .nav {
    &__item-link-btn {
      font-size: 70px;
    }
  }
}
@media (orientation: landscape) {
  .home {
    background-image: url('../images/home/background_horizontal.jpg');
    
    &__social {
      right: $desktop-viewport-horisontal-margin;
    }
  }

  .pharetra {
    &__content {
      background-image: url('../images/pharetra/background_horizontal.jpg');
    }
  }

  .laoreet {
    background-image: url('../images/laoreet/background_horizontal.jpg');
    height: 100vh;
  }

  .section {
    &__indicator {
      right: $desktop-viewport-horisontal-margin
    }
  }

  @media (min-width: $inline-menu-start-width) {
    .nav-btn {
      display: none;
    }
    
    .nav {
      &__links-list {
        opacity: 1;
        background: none;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        max-width: 551px;
        width: 50%;
        right: $desktop-viewport-horisontal-margin;
        top: $desktop-viewport-vertical-margin;
        left: auto;
      }
      &__item {
        transform: translateX(0px) !important;

        &-link-btn {
          font-size: 19px;
          font-weight: 400;
          letter-spacing: 1.5px;
        }
      }
    }
  }
}
@media (min-width: 600px) {
  .laoreet {
    &__item {
      max-width: 380px;

      &-title {
        font-size: 34px;
      }
      &-description {
        width: 90%;
      }
      &-1, &-3 {
        transform: translateX(-5vw);
      }
      &-2 {
        transform: translateX(5vw);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}
@media (min-width: 700px) {
  .laoreet {
    &__item {
      &-1, &-3 {
        transform: translateX(-9vw);
      }
      &-2 {
        transform: translateX(9vw);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}
@media (min-width: 900px) {
  .laoreet {
    display: block;
    padding: 0;

    &__item {
      position: absolute;
      width: 60vw;
      transform: translate(-50%, -50%);

      &-title {
        font-size: 36px;
      }
      &-description {
        margin-top: 17px;
      }
      &-1 {
        left: 59vw;
        top: 30vh;
      }
      &-2 {
        text-align: left;
        display: block;
        left: 27vw;
        top: 57vh;
      }
      &-3 {
        left: 68vw;
        top: 73vh;
        width: 480px;
      }
      &-1, &-3 {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    &--disabled {
      .laoreet__item-1 .laoreet__item-title, .laoreet__item-3 .laoreet__item-title,
      .laoreet__item-1 .laoreet__item-description, .laoreet__item-3 .laoreet__item-description {
        transform: translateX(100px);
      }
      .laoreet__item-2 .laoreet__item-title, .laoreet__item-2 .laoreet__item-description {
        transform: translateX(-100px);
      }
    }
  }
}
@media (min-width: 1100px) {
  .laoreet {
    &__item {
      max-width: 500px;

      &-title {
        font-size: 47px;
      }
      &-description {
        margin-top: 22px;
        font-size: 19px;
      }
    }
  }
}
@media (min-height: 1000px) {
  .laoreet {
    height: 70vh;

    &__item {
      max-width: 500px;

      &-title {
        font-size: 42px;
      }
      &-1 {
        top: 25%;
      }
      &-2 {
        left: 34%;
        top: 51%;
      }
      &-3 {
        left: 59%;
        top: 76%;
      }
    }
  }
}