.mobile {
  .nav-btn {
    transition: opacity .5s, transform $click-mobile-transition;
    
    &:active {
      transform: scale(.9);
    }
  }

  .nav {
    &__item-link-btn {
      transition: $click-mobile-transition;
      
      &:active {
        transform: scale(.95);
      }
    }
  }

  .home {
    &__social-link-btn {
      transition: $click-mobile-transition;

      &:active {
        transform: scale(.9);
      }
    }
  }

  .content-btn {
    &__wrapper {
      background: rgba(255, 255, 255, .6);
      box-sizing: border-box;
      border: 3px solid #fff;
      transition: $click-mobile-transition;

      &:active {
        transform: scale(.94);
      }
    }
  }
}

@media (min-width: $inline-menu-start-width) and (orientation: landscape) {
  .mobile {
    .nav {
      &__item-link-btn:active {
        opacity: 1;
      }
    }
  }
}