$secondary-color: #fff;
$green: #1B3732;
$dark-green: #072E2C;

$click-mobile-transition: .1s;
$inline-menu-start-width: 928px;
$viewport-horisontal-margin: 6.2vw;
$viewport-vertical-margin: 6.2vh;
$desktop-viewport-horisontal-margin: 3.1vw;
$desktop-viewport-vertical-margin: 5.3vh;

@mixin title {
  font-family: Poppins;
  font-weight: 300;
  line-height: 1.2em;
}

@mixin title-light {
  font-family: Poppins;
  font-weight: 200;
}

@mixin description {
  letter-spacing: .01em;
  font-size: 15px;
  line-height: 150%;
  margin: 25px 0 45px;
}

@mixin description-light {
  letter-spacing: .01em;
  font-size: 15px;
  line-height: 150%;
  font-weight: 300;
}

@mixin button-value {
  font-family: Poppins;
  font-weight: 300;
}